# Ignore virtual environment files (if you're using one)
venv/

# Ignore Django-related files
*.pyc
__pycache__/
*.sqlite3

# Ignore IDE-specific files
.vscode/
.idea/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore configuration files with sensitive information
settings.ini